services:
  - type: web
    name: gema-app
    runtime: node
    plan: starter
    region: oregon
    buildCommand: npm ci && npx prisma generate && npx prisma migrate deploy && npm run build && cp -r .next/static .next/standalone/.next/ && cp -r public .next/standalone/
    startCommand: node .next/standalone/server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: DATABASE_URL
        sync: false
      - key: NEXTAUTH_SECRET
        sync: false
      - key: NEXTAUTH_URL
        sync: false
    healthCheckPath: /
    autoDeploy: true
